
* {
    margin: 0;
    padding: 0;
}

header {
    align-self: stretch;
    color: white;

    display: flex;
    justify-content: flex-end;
    padding: 1rem 2.2rem;
}
.int_header {
    
}

.int_header .sec_one {

}

.int_header .sec_one .nav {
    
}

.int_header .sec_one .nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.int_header .sec_one .nav ul li {
    list-style-type: none;
    list-style: none;
}

.int_header .sec_one .nav ul li a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;

    padding: 12px 20px;
    border-radius: 8px;

    background-color: transparent;
    color: hsl(0, 0%, 60%);

    transition: all 0.2s ease-in-out;
}
.int_header .sec_one .nav ul li a:hover {
    color: hsl(0, 0%, 92%);
    background-color: hsl(0, 0%, 12%);

    text-shadow: 1px 1px 12px rgb(159, 159, 159);
}
.int_header .sec_one .nav ul li a:active {
    transform: scale(0.95);
}

.int_header .sec_one .nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 0%;
    height: 0%;

    background-color: rgb(191, 191, 191);
    box-shadow: 1px 1px 10px white;
    transition: all 0.5s ease;
}
.int_header .sec_one .nav ul li a:hover::after {
    width: 100%;
    height: 2px;
}