@import "tailwindcss";

@theme {
  /* Main Themes */
  --color-main: hsl(0, 0%, 10%);

  /* Header Themes */
  --color-nav-h: hsl(0, 0%, 16%);

  /* Home page Themes */
  --color-bg-1: hsl(0, 0%, 1%);
  --color-bg-2: hsl(0, 0%, 3%);

  /* Email Form */
  --color-form: hsl(0, 0%, 6%);
  --color-email-input: hsl(0, 0%, 22%);
  --color-email-input-focus: hsl(0, 0%, 40%);

  /* Reach Out Section */
  --color-reachout-border: hsl(0, 2%, 12%);
  --color-reachout-border-hover: hsl(0, 2%, 25%);
}

@layer components {
  .nav-component {
    background: color-mix(in srgb, hsl(0, 0%, 12%) 50%, transparent 50%);
    backdrop-filter: blur(16px);
  }
  .nav-component-1 {
    background: color-mix(in srgb, hsl(0, 0%, 5%) 50%, transparent 50%);
    backdrop-filter: blur(24px);
  }

  .main-container {
    background: hsl(0, 0%, 10%);
    min-width: 100vw;
  }
}

@layer utilities {
  /* Fade In Animation */
  @keyframes slideDown {
    from {
      transform: translateY(-20px);
      backdrop-filter: blur(0);
      opacity: 50%;
    }
    to {
      transform: translateY(0);
      backdrop-filter: blur(24px);
      opacity: 100%;
    }
  }
  .slide-down {
    animation: slideDown 0.2s linear;
  }

  @keyframes fadeSlideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .fade-slide-up {
    animation: 0.2s fadeSlideUp ease-in;
  }

  @keyframes slideFromRight {
    from {
      opacity: 0;
      transform: translateX(22px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .slide-from-right {
    animation: 0.4s slideFromRight ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: 0.5s fadeIn ease-in-out;
  }

  @keyframes slowDrift {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(20px, -30px);
    }
    50% {
      transform: translate(-15px, -20px);
    }
    75% {
      transform: translate(30px, 10px);
    }
  }
  .slow-drift {
    animation: 20s slowDrift infinite;
  }
}
